{{- .Scratch.SetInMap "item" "title" .Title -}}
{{- .Scratch.SetInMap "item" "created" .Date -}}
{{- with .Params.lastMod -}}
{{- $.Scratch.SetInMap "item" "updated" . -}}
{{- end -}}
{{- .Scratch.SetInMap "item" "test" "test" -}}
{{- .Scratch.SetInMap "item" "permalink" (partial "formatUrl.json" (dict "context" . "url" (.OutputFormats.Get "json").RelPermalink)) -}}
{{- .Scratch.SetInMap "item" "type" .Type -}}