$time : "Time New Roman", "Time", serif;
$helvetica : "Helvetica", "Helvetica Neue", sans-serif;
$helveticaLight : "Helvetica Light", sans-serif;
$open : "Open Sans", sans-serif;
$black: #000000;
$gray: #e6e4e4;
$grayDark : #444444;

$tablet:700px;
$desktop:960px;
$xl:1200px;