{{ define "main" }}
    <div class="main rm-container">
        <div class="rm-loop">
		{{ range .Data.Pages.ByParam "Params.year" }}
            {{ $characters := where (.Site.RegularPages.RelatedIndices . "novel" ) "Type" "personnage" }}
            {{ $main_chars := where $characters "Params.main" 1 }}
			<article class="rm-item roman">
                <a href="{{ .Permalink }}">
                    <h2 class="item-title">{{ .Title }} <small>{{ .Params.year }}</small></h2>
                    <div class="item-desc tablet-block desktop-block">
                        {{ partial "personnage/list.html" (dict "chars" $main_chars "sep" " . ")}}
                    </div>
                    {{ with .Params.excerpt }}
                    <div class="item-content">
                        {{ . }}
                    </div>
                    {{ end }}
                </a>
            </article>
		{{ end }}
        </div>
    </div>
{{ end }}