{{ define "main" }}
{{ $characters := where (.Site.RegularPages.RelatedIndices . "novel") "Type" "personnage" }}
{{ $main_characters := where $characters "Params.main" 1 }}
{{ partial "single/header.html" . }}
<div class="main rm-container">
    <div class="item-desc">
       {{ partial "personnage/list.html" (dict "chars" $main_characters "sep" " . ")}}
    </div>
    <div class="rm-content">
        {{ .Content }}
    </div>
    <div class="rm-sidebar">
        <div class="rm-widget widget-chars desktop-block">
            <ul>
                {{/* range $.Scratch.Get "characters" */}}
                {{ range $characters }}
                <li class="{{ with .Params.main }}bold{{end}}">
                    <a href="{{ .Permalink }}">{{ partial "personnage/name" . }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}