{{ define "main" }}
{{ range .Params.rm_novel_characters }}
{{ $.Scratch.Add "chars" (slice (int .))}}
{{ end }}
<div class="single-head">
    <div class="item-title-wrapper">
        <h1 class="item-title with-image image-loaded">
            <img ng-show="local.head_image" class="background-image" src="{{ .Site.BaseURL }}/images/{{ .Params.rm_item_head_image }}" alt="">
            <div class="background-image-copyrights">{{ .Params.rm_item_head_image_copryrights }}</div>
            {{ .Title }} <small>{{ .Params.rm_novel_year }}</small>
        </h1>
    </div>
</div>
<div class="main rm-container">
    <div class="item-desc">
        {{ range $index, $element := where (where .Site.Pages.ByTitle "Params.id" "in" ($.Scratch.Get "chars")) "Params.rm_character_main" 1 }}{{ if $index }}, {{end}}<span><a href="{{ .Permalink }}">{{ trim .Title " "}}</a></span>{{ end }}
    </div>
    <div class="rm-content">
        {{ .Content }}
    </div>
    <div class="rm-sidebar">
        <div class="rm-widget widget-chars desktop-block">
            <ul>
                {{ range where .Site.Pages.ByTitle "Params.id" "in" ($.Scratch.Get "chars") }}
                <li class="{{ with .Params.rm_character_main }}bold{{end}}">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}