{{ define "main" }}
{{ $novels := where (.Site.RegularPages.RelatedIndices . "novel" ) "Type" "roman" }}
<div class="main rm-container">
    <div class="single-head">
        <div class="item-title-wrapper">
            <h1 class="item-title">
                {{ partial "personnage/name" . }}
            </h1>
        </div>
        <div class="item-desc">
            {{ partial "roman/list" (dict "novels" $novels "sep" " . ") }}
        </div>
    </div>
    <div class="rm-content rm-html">
        <div class="item-content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}