{{ define "main" }}
{{ range .Params.rm_character_novel }}
{{ $.Scratch.Add "novels" (slice (int .)) }}
{{ end }}
<div class="main rm-container">
    <div class="single-head">
        <div class="item-title-wrapper">
            <h1 class="item-title">
                {{ .Params.rm_character_name_main }}{{ with .Params.rm_character_name_secondary }}<span>, {{ . }}</span>{{ end }}
            </h1>
        </div>
        <div class="item-desc">
            {{ range where .Site.Pages.ByTitle "Params.id" "in" ($.Scratch.Get "novels") }}<span><a href="{{ .Permalink }}">{{ .Title }}</a></span>, {{ end }}
        </div>
    </div>

    <div class="rm-content rm-html">
        <div class="item-content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}