{{ $header := .Resources.GetMatch "**header*" }}
<div class="single-head">
    <div class="item-navigation">
        {{ if .PrevInSection }}
        <a class="item-navigation__next" href="{{.PrevInSection.Permalink}}"></a>
        {{ end }}
        {{ if .NextInSection }}
        <a class="item-navigation__prev" href="{{.NextInSection.Permalink}}"></a>
        {{ end }}
    </div>
    <div class="item-title-wrapper">
        <h1 class="item-title {{ with $header }}with-image image-loaded{{ end }}">
            {{ with $header }}
                <img class="background-image" src="{{ .Permalink }}" alt="">
                {{ with .Params.copy }}
                <div class="background-image-copyrights">{{ . }}</div>
                {{ end }}
            {{ end }}
            {{ .Title }} {{ with .Params.rm_novel_year }}<small>{{ . }}</small>{{ end }}
        </h1>

    </div>
</div>