<header>
    <div class="header-main rm-container">
        <a href="/" class="brand">
            <h2 class="emile">
                Émile Zola
            </h2>
            <h1 class="brand-name">
                {{.Site.Title}}
            </h1>
        </a>
        <img class="header-image" src="{{ .Site.BaseURL }}images/header_image.jpg" alt="">
        <div class="search">
            <input type="text" class="main-autocomplete" placeholder="Rechercher">
            <i class="fas fa-search icon-search"></i>
        </div>
    </div>
    <div class="main-nav-wrapper">
        <div class="scroll-wrapper">
            <i class="fa fa-bars rm-menu-icon"></i>
            <div class="main-mav">
                <ul>
                    <li class="child ou pas">
                        <a href="">Une Page</a>
                    </li>
                    <li class="child ou pas">
                        <a href="">Deux Pages</a>
                    </li>
                    <li class="child ou pas">
                        <a href="">Trois Pages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
