<header>
    <div class="rm-header rm-container">
        <div class="rm-header__main">
            <a href="/" class="brand">
                <h2 class="emile">
                    Émile Zola
                </h2>
                <h1 class="brand-name">
                    {{.Site.Title}}
                </h1>
            </a>
            <!-- Algolia Search Box -->
            <div id="search-box" class="search"></div>
        </div>
        <div class="rm-header__aside">
        </div>
    </div>
    <div class="main-nav-wrapper">
        <div class="scroll-wrapper">
            <i class="fa fa-bars rm-menu-icon"></i>
            {{ $currentPage := . }}
            <div class="main-mav">
                <ul>
                    {{ range .Site.Menus.main }}
                        <li class='{{ cond ($currentPage.HasMenuCurrent "main" .) "active" "" }}'>
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ if .HasChildren }}
                            {{ range .Children }}
                            <li class='{{ cond ($currentPage.HasMenuCurrent "main" .) "active" "" }} child'>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="rm-Search__results">
        <div id="novels"></div>
        <div class="rm-Search__pagination" id="pagination"></div>
        <div id="hits"></div>
    </div>
</header>
