$time : "Time New Roman", "Time", serif;
$helvetica : "Helvetica", "Helvetica Neue", sans-serif;
$helveticaLight : "Helvetica Light", sans-serif;
$open : "Open Sans", sans-serif;
$black: #000000;
$gray:#e6e4e4;
$grayDark : #444444;

$tablet:700px;
$desktop:960px;
$xl:1200px;

.pre{
    white-space: pre-wrap;
    word-wrap: break-word
}
pre{
    font-size:14px;
}
$fontRem:18;
body, html{
    height:100%;
}
a{
 text-decoration: none;
}
body{
    font-family: $time;
    *{
        box-sizing:border-box;
    }
}
html{
    font-size:18px;
    @media screen and (min-width:$tablet){
        font-size:21px;
    }
    @media screen and (min-width:$xl){
        font-size:25px;
    }
}
.rm-wrapper{
    padding-left:20px;
    @media screen and (min-width:$tablet){
        position: relative;
        min-height: 100%;
        height:auto !important;
        &:after{
            content:"";
            display: block;
            height:132px;
        }
    }
}
.rm-container{
    max-width:1300px;
    margin:0 auto;
    clear:both;
}
.main{
    padding:15px;
    @media screen and (min-width:1300px){
        padding:15px 0;
    }
}
header{
    background: #fff;
    border-bottom:2px solid $black;
    position: relative;
    .rm-container{
        max-width:1300px;
    }
    .header-main{
        position: relative;
    }
}
.rm-footer{
    border-top:2px solid $black;
    text-align: center;
    padding:30px;
    a{
        text-decoration: underline;
        color:inherit;
    }
    @media screen and (min-width:$tablet){
        position: absolute;
        bottom:0;
        width:100%;
        left:0;
    }

}

.rm-html{
    a{
        color:inherit;
        display: inline-block;
        position: relative;
        &:after{
            content:"";
            position: absolute;
            width:100%;
            height:1px;
            background:$black;
            bottom:2px;
            left:0;
            transition:100ms;
        }
        &:hover{
            &:after{
                width:90%;
                left:5%;
            }
        }
    }
}

/*********************************************
            SIDEBARS
*********************************************/
.rm-content{
    @media screen and (min-width:$tablet){}
}
.rm-sidebar{

}
@media screen and (min-width:$tablet){
    .rm-content, .rm-sidebar{
        float:left;
    }
    .rm-content{
        width:70%;
    }
    .rm-sidebar{
        width:calc(30% - 30px);
        margin-left:30px;
    }
    .rm.page{
        .rm-content{
            max-width:960px;
            margin: 0 auto;
            float:none;
            width: auto;
        }
    }
}

.rm-cta{
    padding:10px 25px;
    margin-top:1em;
    display: inline-block;
    border:1px solid $black;
    color:$black;
    position: relative;
    box-sizing: border-box;
    &:hover{
        &:before, &:after{
            width:13px;
        }
    }
    &:before, &:after{
        content:"";
        position: absolute;
        display: block;
        height:100%;
        width:3px;
        background: $black;
        top:0;
        z-index: -1;
        box-sizing: border-box;
        transition:.10s;
    }
    &:before{
        left:0;
    }
    &:after{
        right:0;
    }
    &:active{
        &:before, &:after{
            width:50%;
        }
    }
}

.rm-widget{
    .widget-title{
        font-weight: bold;
        font-variant: italic;
        margin: 0;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    @extend.item-desc;
}

/*********************************************
            ADS
*********************************************/
.rm-ad{
    display: none;
}
.rm-ad-leaderboard{
    width: 728px;
    height:90px;
}
header{
    padding-top:20px;
    .rm-ad-leaderboard{
        position: absolute;
        top:0;
        right:0;
    }
}
.brand{
    display: block;
    color:inherit;
     padding:0 10px 0 10px;
    .emile, .brand-name{
        font-weight:normal;
        margin: 0;
        line-height: 1.2em;
    }
    .emile{
        font-size:34px;
    }
    .brand-name{
        font-size:42px;
    }
    margin-bottom:10px;
}
.header-image{
    display: none;
    @media screen and (min-width:1100px){
        display: block;
        width:100%;
        border-bottom:2px solid $black;
        position: absolute;
        right:0;
        bottom:0;
        border:0;
        width:auto;
    }
}
.search{
    position: relative;
    .twitter-typeahead{
        width:100%;
    }
    input{
        outline: none;
        width:100%;
    }
    input:focus ~ .icon-search{
        opacity: 1;
    }
    .icon-search{
        position: absolute;
        bottom: 13px;
        right: 15px;
        opacity: 0.6;
    }
    &.active{
        .icon-search{
            opacity: 1;
        }
    }
    .dropdown-menu[style], .tt-menu[style]{
        top:100% !important;
        left:auto !important;
    }
    .dropdown-menu, .tt-menu{
        color:white;
        position: absolute;
        width:100%;
        margin: 0;
        padding: 0;
        background-color:$grayDark;
        list-style: none;
        li, .tt-suggestion{
            padding:15px;
            &.active, &.tt-cursor{
                background:$black;
            }
            .item{
                font-size: 30px;
                font-weight: normal;
                font-style: italic;
            }
            .related{
                font-size:15px;
                font-family:$open;
            }
        }
    }
    @media screen and (min-width:1100px){
        width: calc(100% - 670px);
    }
}

.main-autocomplete{
    padding:10px;
    margin: 0;
    list-style:none;
    border:0;
    margin: 0;
    display: block;
    width:100%;
    font-family: $time;
    font-size:30px;
}

.main-nav-wrapper{
    position: fixed;
    background-color:$black;
    overflow: scroll;
    top:0;
    z-index:1000;
    width: 168px + 20px;
    left:-168px;
    height:100%;
    transition:150ms;
    .rm-menu-icon{
        position: absolute;
        top: 1px;
        right: 3px;
        font-size: 16px;
        color:white;
        transition:.15s;
    }
    .scroll-wrapper{
        overflow: auto;
        height:100%;
        padding:40px 25px;
    }
    &:hover{
        left:0;
        opacity:.7;
        .rm-menu-icon{
            top: 2px;
            right: 9px;
            font-size:25px;
        }
        &.hide{
            left:-25%;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            &.child{
                font-size: 0.8em;
                font-family: $helvetica;
                padding-left:1em;
            }
        }
        a{
            color:white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    @media screen and (min-width:$tablet){
        width: calc(25% + 20px);
        left:-25%;
    }
}
/*********************************************
            LOOP
*********************************************/

.rm-loop{
    .rm-item{
        color:$black;
        padding:20px 30px 30px 30px;
        margin-bottom:1.5em;
        .item-title{
            padding-left:0;
            padding-right:0;
        }
        &:hover{
            background-color:$gray;
        }
        & > a:first-child{
            display: block;
            color:#000;
        }
    }
}

/*********************************************
            SINGLES
*********************************************/
.single-head{
    overflow: hidden;
    position:relative;
    .item-title, .item-desc{
        @extend .rm-container;
    }
    .item-title-wrapper, .item-title{

    }
    .item-title{
        padding:15px 0;
        margin-bottom:12px;
    }
    .background-image-copyrights{
        position: absolute;
        top:100%;
        margin-top:3px;
        right:0;
        font-size:9px;
        line-height: 1em;
        color:black;
        font-family: $helveticaLight;
        text-align: right;
    }
    .item-title.with-image{
        position: relative;
        padding:15px;
        img.background-image{
            position: absolute;
            bottom:100%;
            left:0;
            z-index: -1;
            opacity:0.6;
        }
        transition:.15s;
        &.image-loaded{
            padding-top:15px;
            background-position: bottom center;
            img.background-image{
                bottom:0;
            }
        }
        @media screen and (min-width:$tablet){
            padding-bottom:0;
            img.background-image{
                width:100%;
            }
        }
        @media screen and (min-width:$desktop){
            &.image-loaded{
                padding-top:90px;
            }
        }
    }
}

@media(min-width:1500px){
    .item-navigation{
        position:absolute;
        top:0;
        height:0;
        width:100%;
        a{
            display: block;
            position: absolute;
            top:0;
            height:100px;;
            width:calc((100vw - 1300px) / 2);
            color:inherit;
            text-align: center;
            font-family: $time;
            font-size: 2em;
            &:before{
                display: inline-block;

            }
        }
        .item-navigation__prev{
            left:0;
            &:before{
                content:"<"
            }
        }
        .item-navigation__next{
            right:0;
            &:before{
                content:">"
            }
        }
    }
}

.item-title{
    font-weight: normal;
    font-size:42rem/$fontRem;
    line-height: 1.15em;
    margin: 0;
    padding:15px;
    small{
        font-size:20rem/$fontRem;
        font-family: $open;
        font-weight: 300;
        display: block;
        line-height: 1.2em;
    }
    @media screen and (min-width:$tablet){
        small{
            display: inline;
        }
    }
}
.item-desc{
    font-size:15/$fontRem;
    font-family: $open;
    font-weight: 300;
    color:$grayDark;
    a{
        color:$grayDark;
        &:hover{
            color:$black;
        }
    }
}
.item-content{
    font-size: 20/$fontRem;
    line-height: 1.2em;
    margin-top:1em;
    &.not-loaded{
        &:before{
            content:"";
            width:100%;
            height:100%;
            opacity:1;
            display: block;
            background:url(img/placeholder-text.png);
        }
    }
    &.loaded[style]{
        height:auto !important;
    }
}

.item-chapters{
    .chapter-title{
        margin: 0;
        font-family: $helvetica;
    }
}

.name-suffix{
    font-size:0.8em;
    &:before{
        content:"("
    }
    &:after{
        content:")"
    }
}
/*********************************************
            ICONS
*********************************************/

i[class*='icon']{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width:18px;
    height:18px;
}

.clearfix{
    *zoom:1;
    &:before, &:after{
        content:"";
        display: table;
    }
    &:after{
        clear:both;
    }
}